* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100vw;
    padding: 10px;
    display: flex;

    &__column {
        width: 20%;
        height: 100%;
        background-color: rgb(230, 228, 228);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;

        & :hover {
            color: rgb(243, 202, 128);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 20px;
        padding: 10px;
        header {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            h1 {
                font-size: 30px;
            }

            input {
                width: 70%;
            }
        }

        aside {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px;
            figure {
                width: 150px;
                height: 220px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}